# --- General / OS ---
.DS_Store
Thumbs.db
*.pem
*.swp
*.swo
.vscode/
.idea/

# --- Environment Variables (Crucial) ---
.env
.env.*
!.env.example

# --- Frontend (Next.js / Node) ---
uil_frontend/node_modules/
uil_frontend/.next/
uil_frontend/out/
uil_frontend/build/
uil_frontend/.vercel
uil_frontend/next-env.d.ts
uil_frontend/*.tsbuildinfo
.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Backend (FastAPI / Python) ---
iuls_backend/__pycache__/
iuls_backend/venv/
iuls_backend/env/
iuls_backend/ENV/
iuls_backend/.Python
iuls_backend/*.pyc
iuls_backend/*.py[cod]
iuls_backend/*$py.class
iuls_backend/*.so
*.pyc
iuls_backend/versions/__pycache__/
# --- Database ---
*.db
*.sqlite3
# If you use a local folder for postgres volumes (like in your docker-compose)
postgres_data/

# --- Docker ---
.docker/
**/venv/
**/.venv/